$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

@media(min-width: $screen-md-min) {
  .container {
    width: $screen-md-min;
  }
}

.wrapper {
  width: 100%;
  overflow-x: scroll;
}

.lanes {
  width: 10000px;
  height: 100%;
}

.lane {
  height: 400px;
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}

.lane > .panel-heading {
  cursor: pointer;
}

.lane > .panel-body {
  height: 285px;
  overflow: scroll;
}

.task {
  cursor: pointer;
}

#hero {
  margin-top: -20px;
  color: white;
  text-align: center;
}

#hero img {
  display: block;
  margin: 0 auto;
}

.board-item {
  cursor: pointer;
}
