<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form ng-submit="submit()">
          <div class="form-group">
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty" name="name" ng-model="name" required>
              <div class="floating-label">name</div>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
