<div ng-hide="$root.currentUser">
  <div class="jumbotron jumbotron-material-teal-300" id="hero">
    <div class="container">
      <h1>'Allo 'Allo</h1>
      <img class="img-responsive" src="/images/logo.png" alt="">
      <p>Keep track of your tasks!</p>
      <p>Create an account to get started</p>
    </div>
  </div>
</div>

<div class="container" ng-show="$root.currentUser">
  <ng-include src="'client/app/boards/views/create.ng.html'"></ng-include>

  <div class="row">
    <div ng-repeat="board in boards" class="col-sm-3 board-item">
      <div class="panel panel-primary panel-board">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              {{board.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary pull-left" ng-click="showBoard(board._id)"><i class="fa fa-eye"></i></button>
              <button class="btn btn-danger pull-right" ng-click="delete(board)"><i class="fa fa-trash-o"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
