<div class="container">
  <div class="row board-header">
    <p>
      {{board.name}}
      <button class="btn btn-link"><i class="fa fa-lock"></i> private</button>
    </p>
  </div>
</div>

<div class="wrapper">
  <div class="lanes">
    <div class="lane panel panel-primary" ng-repeat="lane in lanes">
      <div class="panel-heading">
        {{lane.name}}
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="task in tasks | filter:{'lane': lane._id}">
            <div class="task" ng-click="openTaskModal(task)">
              <div class="panel panel-default">
                <div class="panel-body">
                  {{task.task}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-block" ng-click="addTask(lane._id)">Add Task</button>
      </div>
    </div>

    <div class="lane panel panel-primary">
      <div class="panel-heading">
        lane
      </div>
      <div class="panel-body">
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-block" ng-click="addLane()">Add lane</button>
      </div>
    </div>
  </div>
</div>
